* {
    box-sizing: border-box;
}
body{
    width: auto;
    background-image: url("images/serpent2E.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  
}
.header{
    background-color: darkolivegreen;
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1095px;
    min-width: 1095px;
    border-color: darkslategray;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.nav{
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: white;
    margin-left: 100px;
    align-items: initial;
    max-width: 150px;
    min-width: 150px;
    background: url("images/haty_skoll9.jpg");
    background-size: 100% 100%;
    min-height: 500px;
    max-height: 2000px;
    background-repeat: no-repeat;
}
.nav1{
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: darkslategray;
    align-items: initial;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 3000px;
    background: url("images/haty_skoll4.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.header section{
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
}
.nav a:hover{
    background-color: transparent;
    color: darkred;
}
.nav a{
    display: flex;
    flex-direction: row;
    color:white;
    padding: 6px;
    background-color: transparent;
}
.nav1 a:hover{
    background-color: transparent;
    color: darkred;
}
.nav1 a{
    display: flex;
    flex-direction: row;
    color:white;
    padding: 6px;
    background-color: transparent;
}
.textos{
    display: flex;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    min-width: 795px;
    max-width: 795px;
    flex-direction: column;
    color:black;
    padding: 6px;
    line-height: 20px;
}
.nav a:hover .droopdown:hover .dropbtn {
    background-color: transparent;
  }
.nav1 a:hover .droopdown:hover .dropbtn {
    background-color: transparent;
  }

  .Statistic-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    box-shadow: black;
    z-index: 1;
  }
  
  .Statistic-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .Statistic-content a:hover {
    background-color: transparent;
  }

  .droopdown:hover .Statistic-content {
    display: block;
  }
 .aside_1{
    display: flex;
    flex-direction:column-reverse;
    background-color: darkolivegreen;
 }
 .Informacion{
    display: flex;
    margin-left: 0%;
    padding: 0px;

 }
 .Other{
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: white;
    margin-right: 100px;
    align-items: initial ;
    background: url("images/haty_skoll10.jpg");
    max-width: 150px;
    min-width: 150px;
    min-height: 700px;
    max-height: 2000px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
 .Other a{
    display: flex;
    flex-direction: row;
    color:white;
    padding: 6px;
    background-color: transparent;
 }
 .Other a:hover{
    background-color: transparent;
    color:  darkred;
}
.Other1{
    border-radius: 20px;
    border-color: darkslategray;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    max-width: 3000px; 
    border-style: solid;
    align-items: initial ;
    background-image: url("images/haty_skoll12.jpg");
    border-radius: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
 .Other1 a{
    display: flex;
    flex-direction: row;
    color:white;
    padding: 6px;
    background-color: transparent;
 }
 .Other1 a:hover{
    background-color: transparent;
    color:  darkred;
}


@media screen and (max-width: 1100px){
    section{
        display: flex;
        flex-direction: column;
    }
    .nav{
        background-image: url("images/haty_skoll4.jpg");
        background-size: 100% 100%;
        max-width: auto;
        min-width: auto;
        flex-direction: column;
        min-height: auto;
        max-height: auto;
        margin-left: 0px;
        margin-right: 0px;

    }
    .Other{
        background-image: url("images/haty_skoll12.jpg");
        background-size: 100% 100%;
        max-width: auto;
        min-width: auto;
        flex-direction: row;
        min-height: auto;
        max-height: auto;
        margin-left: 0px;
        margin-right: 0px;  

    }
    .header{
        max-width: auto;
        min-width: auto;
        min-height: auto;
        max-height: auto;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        align-items: center;
        opacity: 0.8;
        min-width: 795px;
        max-width: 795px;
        flex-direction: column;
        color:black;
        padding: auto;
        line-height: auto;  
    }
    .textos{
        max-width: auto;
        min-width: auto;
        min-height: auto;
        max-height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    a:hover{
        width: 100%;
        height: 100%;
        font-size: 25px;
    }
}
@keyframes mymove {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
  }


  
  

