* {
    box-sizing: border-box;
}
body{
    width: auto;
    background-image: url("images/serpent2E.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.main{
    grid-column: auto auto auto;
}
.ima img{
    width: 40%;
}

.ima1 img{
    width: 80%;
}
.footer{
    color: white;
    text-align: center;
    background-image: url("images/separador-remove-preview-removebg-preview\ \(1\).png");
    background-repeat: no-repeat;
    align-items: center;
    font-size: 20px;
    min-height: 175px;
    background-size: 100% 100%;
    
}

.footer a{
    color: white;
}
.header{
    color: #535250;
    background-image: url("images/separador-remove-preview-removebg-preview\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    grid-column: auto;
    align-items: center;
    position: relative;
    min-height: 175px;
    background-size: 100% 100%;
  }
.nav{
    display: flex;
    padding: 4%;
    flex-direction: column;
    color: white;
    margin-left: 4%;
    align-items: initial;
    max-width: 15%;
    grid-column: auto;
    min-width: 15%;
    background: url("images/haty_skoll9.jpg");
    background-size: 100% 100%;
    min-height: 500px;
    background-repeat: no-repeat;
}
.nav1{
    color: white;
    border-radius: 20px;
    border-style: solid;
    background-color: #535250;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 3000px;
    background: url("images/separador3-r.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.header section{
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
}
.nav a:hover{
    background-color: transparent;
    color: darkred;
}
.nav a{
    display: flex;
    flex-direction: row;
    color:white;
    grid-row: auto;
    padding: 6px;
    background-color: transparent;
}
.nav1 a:hover{
    background-color: transparent;
    color: darkred;
}
.nav1 a{
    display: flex;
    flex-direction: row;
    color:white;
    padding: 6px;
    background-color: transparent;
}
.ima_1{
    align-self: center;
}
.textos{
    display: flex;
    background-color: #535250;
    text-align: center;
    align-items: center;
    opacity: 0.95;
    min-width: 62%;
    max-width: 62%;
    flex-direction: column;
    color:white;
    padding: 6px;
    line-height: 20px;
}
.nav a:hover .droopdown:hover .dropbtn {
    background-color: #535250;
  }
.nav1 a:hover .droopdown:hover .dropbtn {
    background-color: transparent;
  }

.Statistic-content {
    display: none;
    position: absolute;
    background-color: #535250;
    min-width: auto;
    box-shadow: black;
    z-index: 1;
}
.map{
    align-items: auto;
    align-self: auto;
    text-align: auto;
 }
  
.Statistic-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.Statistic-content a:hover {
    background-color: #535250;
}

  .droopdown:hover .Statistic-content {
    display: block;
  }
 .aside_1{
    display: flex;
    flex-direction:column-reverse;
    background-color: darkolivegreen;
 }
 .Informacion{
    display: flex;
    margin-left: 0%;
    padding: 0px;

 }
 .Other{
    display: flex;
    padding: 4%;
    flex-direction: column;
    color: white;
    margin-right: 4%;
    align-items: initial ;
    grid-column: auto;
    background: url("images/haty_skoll10.jpg");
    max-width: 15%;
    min-width: 15%;
    min-height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
 .Other a{
    display: flex;
    flex-direction: row;
    color:white;
    grid-row: 20px;
    padding: 4px;
    background-color: transparent;
 }
 .Other a:hover{
    background-color: transparent;
    color:  darkred;
}
.Other1{
    border-radius: 20px;
    border-color: darkslategray;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    max-width: 3000px; 
    border-style: solid;
    align-items: initial ;
    background-image: url("images/haty_skoll12.jpg");
    border-radius: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
 .Other1 a{
    display: flex;
    flex-direction: row;
    color:white;
    padding: 6px;
    background-color: transparent;
 }
 .Other1 a:hover{
    background-color: #535250;
    color:  darkred;
}

.imacharge img{

    width: 80px;
    height: 80px;
    position: relative;
    animation: mymove 5s infinite;

}
.imafly img{

    width: 80px;
    height: 80px;
    position: relative;
    animation: mymove2 5s infinite;
}
.swim img{
    width: 80px;
    height: 80px;
    position: relative;
    animation: mymove3 5s infinite;
}


@keyframes mymove {
    0%   {left: 0px;}
    12.5%  {left: 50px;}
    25%  {left: 100px}
    37.5% {left: 200px;}
    50%   {left: 0px;}
    62.5%  {left: -50px;}
    75%  {left: -100px;}
    87.5% {left: -200px;}
    100%{left: 0px;}
}
@keyframes mymove2 {
    0%   {left: 0px;}
    12.5%  {top: 20px;}
    25%  {left: 190px;}
    37.5% {bottom: 20px;}
    50%   {left: 0px;}
    62.5%  {top: 20px;}
    75%  {left: -190px;}
    87.5% {bottom: 20px;}
    100%{left: 0px;}
}

@keyframes mymove3 {
    0%{
        left:190px;
    }
    20%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(0deg);
    }
    60%{
        left: -190px;
    }
    80%{
        transform: rotate(-20deg);
    }
    90%{
        transform: rotate( 0deg);
    }
    100%{
        left: 190px;
    }
}
@keyframes mymove4 {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes mymove5 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-20deg);
    }
}
@keyframes mymove6 {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.filled{
    border-style: groove;
    background-color: #535250;
}


@media screen and (min-width: 1400px){
    .textos{
        max-width: 71%;
        min-width: 71;    
    }
    .Other{
        max-width: 11.5%;
        min-width: 11.5%;
        padding: 3%;
    }
    .nav{
        max-width: 11.5%;
        min-width: 11.5%;
        padding: 3%;
    }
}

@media screen and (max-width: 1100px){
    section{
        display: flex;
        flex-direction: column;
    }
    .footer{
        background-image: url("images/separador3-r.png");
        min-height: 69px;
        max-height: 69px;
    }
    .nav{
        background-image: url("images/haty_skoll4.jpg");
        background-size: 100% 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: auto;
        max-height: auto;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;

    }
    .Other{
        background-image: url("images/haty_skoll12.jpg");
        background-size: 100% 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 200px;
        max-width: 200px;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;  

    }
    .header{
        background-image: url("images/separador3-r.png");
        max-width: 100%;
        min-width: 100%;
        min-height: 69px;
        max-height: 69px;
        margin-left: 0px;
        margin-right: 0px;  
    }
    iframe{
        height: 300px;
        width: 400px;
    }
    .ima{
        size: 60%;
        
    }
    .ima1{
        size: 80%;
    }
    .textos{
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
        text-align: left;
        align-items: left;
        max-height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .textos figure{
        align-self: center;
    }
    .titulo{
        size: 90%;
    }
    .textos p{
        size: 90%;
    }
    .poem{
        text-align: left;
        align-items: left;
        size: 50%;
    }
    .ima_1{
        align-self: center;
    }
}

.imacharge img{
    size: 30%;

}
.filled{
    border-style: groove;
    background-color: #535250;
}
.titulo{
    font-size: 140%;
    font-family: Verdana;
}


  
  

